<div class="main">
    <section class="main-image">
        <div class="info">
            <h1>Money & Insurance</h1>
            <span>
                How would you like to live and what is there to consider when signing a tenancy agreement? Is your driving license valid in Germany? Find answers to these questions in this category.
            </span>
        </div>
    </section>


    <section class="insurance">
        <h2>Bank Account</h2>

        <ul>
            <li>If you plan on living in Germany long term, you will need a <strong>German bank account</strong> (current account) to rent a flat or receive your salary via bank transfer.</li>
            <li>You will also be able to use your <strong>debit card (Girokarte)</strong> for day-to-day transactions, such as paying at the supermarket.</li>
            <li>The debit card can also be used in other European countries that use the euro as currency.</li>
        </ul>
        
        <h3>Cashless Payments</h3>
        <ul>
            <li>In Germany, you can pay without cash using a <strong>credit card</strong> or a <strong>Girokarte</strong>. The Girokarte works like a debit card, and many banks provide it free of charge when opening a current account.</li>
            <li><strong>Credit cards</strong> generally involve a fee for usage.</li>
            <li>The main difference between the two cards is the <strong>billing cycle</strong>. Debit card payments are immediately debited from your account, while credit card payments are debited at the end of the month.</li>
            <li>For daily purchases, a debit card is sufficient. However, for transactions requiring a deposit (e.g., booking a hotel room or renting a car), you will most likely need a credit card.</li>
            <li>If you shop online, you can also transfer money using a <strong>credit card</strong>, <strong>instant bank transfer (Sofortüberweisung)</strong>, <strong>Giropay</strong> (an online payment system), or <strong>PayPal</strong>.</li>
        </ul>
        
        <h3>Opening a Bank Account</h3>
        <ul>
            <li>To open a bank account, you will generally need the following documents:
                <ul>
                    <li>Valid passport</li>
                    <li>Residence permit</li>
                    <li>Registration certificate</li>
                    <li>Payslip (depending on the account type)</li>
                </ul>
            </li>
            <li>Note that banks may charge different fees for running an account or for transfers to accounts outside Europe. It’s advisable to compare different banks before choosing one.</li>
        </ul>
        
        <h3>Online Banking</h3>
        <ul>
            <li>Many people manage their bank transactions via <strong>online banking</strong>, which can be done with direct banks (online only) or branch banks.</li>
            <li>Branch banks allow you to deposit cash on-site and provide individual consultations, while direct banks offer services online or via telephone but lack physical branches.</li>
            <li>Accounts with direct banks tend to be more budget-friendly.</li>
        </ul>
        
        <h3>Payments in Cash</h3>
        <ul>
            <li>Germany still places great value on <strong>cash payments</strong> compared to other countries.</li>
            <li>Larger stores and supermarkets often offer cashless payment options via credit or debit card, but smaller stores and parking ticket machines may only accept cash.</li>
            <li>At corner stores (Kiosks) or takeaway shops, you may need cash for payment or may only be able to pay cashlessly for amounts above a certain threshold.</li>
            <li>It’s a good idea to carry some cash with you on a daily basis.</li>
        </ul>

        <h2>Health Insurance</h2>


        <p>In Germany, it is compulsory to take out health insurance. A distinction is made between statutory and private health insurance. These are two different systems and you cannot switch between them freely.</p>

<p>It is advisable to take out international health insurance for the first few days or weeks of your stay in Germany before you have health insurance. This will cover you in the event of illness, especially as proof of health insurance may be required when applying for a visa.</p>

<h3>Statutory Health Insurance</h3>
<p>Most employees in Germany have statutory health insurance. If you have statutory health insurance, you can choose from a wide range of health insurance providers to find the one that suits you best. You can find a list of all the statutory health insurance providers <a href="#">here</a>.</p>

<p>Statutory health insurance covers a number of aspects and characteristics that make it unique.</p>

<ul>
    <li>The amount of your health insurance premium depends on your income and the type of insurance you choose.</li>
    <li>Doctor’s visits and medications are usually paid for directly by the health insurance provider. Usually, you will not receive a bill.</li>
    <li>Your family also benefits from your insurance cover: For example, if your spouse does not work, you can include them in your statutory health insurance free of additional charge. The same applies for your children.</li>
</ul>

<h3>Health Insurance Benefits</h3>
<p>If you fall ill, you are in good hands in Germany. Your health insurance provider covers the costs of all urgently needed medical treatments. The basic insurance cover provided by statutory health insurance providers includes the following services:</p>

<ul>
    <li>Outpatient medical treatment, such as in a doctor’s surgery</li>
    <li>Dental care</li>
    <li>Medication, health remedies and medical aids</li>
    <li>Inpatient medical treatment, such as in a hospital</li>
    <li>Medically necessary rehabilitation</li>
    <li>Pregnancy and childbirth services</li>
</ul>

<p>Other services may or may not be covered by your health insurance provider. Examples of such services include professional dental cleaning and skin cancer screening. Please contact your health insurance provider directly to find out if they will cover certain services you may need.</p>

<h3>Please Beware</h3>
<p>By taking out health insurance, you automatically take out long-term care insurance. Long-term care insurance covers you if, for example, you are no longer able to look after yourself due to a serious illness – in other words, if you need the help of a carer.</p>

<h3>What is the Health Card (eGK) / European Health Insurance Card (EHIC)?</h3>
<p>If you are a member of a statutory health insurance scheme, you will receive an electronic health card, which is similar to a health insurance membership card. Bring this card with you every time you see your doctor. It is also valid in all EU countries as well as in Great Britain, Iceland, Liechtenstein, Norway, and Switzerland. This means that if you fall ill in these countries during a holiday or a business trip, you will get access to local medical care with your European Health Insurance Card (EHIC). You do not have to apply for an EHIC. It is automatically printed on the back of your insurance card. It is a good idea to check with your health insurance company about emergency procedures in due time before travelling abroad.</p>

<h3>Private Health Insurance</h3>
<p>Above a certain salary, you can opt for private health insurance. This salary level is called the compulsory insurance limit. You can find the current applicable salary level on the official website of the Federal Government. Private health insurance is particularly important for people with high incomes, the self-employed, and civil servants.</p>

<p>You can also take out statutory health insurance as well as individual private supplementary insurance. Popular examples include supplementary dental insurance and insurance policies that provide hospitalisation benefits.</p>

<p>Private health insurance differs from statutory health insurance in a number of ways:</p>

<ul>
    <li>Some medical services are only available to people with private health insurance. There are also exclusive private practices that are only open to privately insured patients. People with statutory health insurance are responsible for paying bills from private practices themselves.</li>
    <li>Unlike with statutory health insurance, private health insurance contributions are not based on your income. Instead, they are based on personal characteristics such as age, gender, occupation, and state of health.</li>
    <li>Privately insured people must initially pay their medical bills themselves. Afterwards, patients receive a refund from their health insurance company for the amount they have paid.</li>
    <li>Additionally, an important difference is that children are not covered by private health insurance free of charge. There are separate premiums for each child; however, thanks to child and youth rates, they are usually much lower than for adults.</li>
    <li>Once you have opted for private health insurance, it is difficult to switch to statutory health insurance. You have to meet certain requirements that make it almost impossible to change, especially as you get older. The decision to take out private health insurance should be carefully considered, as premiums increase with age.</li>
</ul>

<h3>Health Insurance Without an Employer</h3>
<p>Even if you are not employed, you will still require health insurance. The type of health insurance you need depends on which group you belong to:</p>

<ul>
    <li><strong>Family:</strong> Children, spouses, and registered partners can usually be insured together through family insurance, with one adult paying into statutory health insurance.</li>
    <li><strong>Apprentices, students, and interns:</strong> You are generally required to take out statutory health insurance. There are a few exceptions, e.g. students over the age of 30.</li>
    <li><strong>Jobseekers:</strong> EU citizens can use their European Health Insurance Card. People without EU or EEA citizenship who are not in employment, for example because they have a jobseeker visa, must take out private health insurance. There are special rates for expats in this case.</li>
</ul>
        <h2>Additional Insurances</h2>

        <h3>Liability Insurance</h3>
<p>Liability insurance pays if you damage or destroy another person's belongings. For example, if you break a vase or spill coffee on a friend's smartphone. Most Germans have that kind of insurance because it is inexpensive and protects you from having to pay for the damage with your own money.</p>

<h3>Household Contents Insurance</h3>
<p>This insurance covers all items inside your house or flat. For example, household contents insurance pays if furniture and clothing are stolen or damaged by fire, storm or water. The cost of household insurance depends on the size of your home, among other things.</p>

<h3>Accident Insurance</h3>
<p>You are a member of the statutory accident insurance scheme through your employer. This means that you are covered in the event of an accident at work or on your way to work. Private accident insurance is a good way to protect yourself against accidents when you are not at work. This covers the financial consequences of an accident, for example, if you become disabled and are no longer able to work. You can also arrange benefits for the rehabilitation of your health, which are not covered by statutory health insurance.</p>

<h3>Occupational Disability Insurance</h3>
<p>Occupational disability insurance covers you if you are no longer able to work for health reasons. If you are diagnosed with an occupational disability, the insurance will pay you an agreed monthly pension. Occupational disability insurance can be a good idea if you depend on your income from work, giving you financial security in case of emergency.</p>

<h3>Retirement Benefits</h3>
<p>The German statutory pension insurance is the most important and strongest pillar of our old-age security system. An additional retirement plan is worthwhile and necessary in order to be able to maintain your existing standard of living in old age. Building up such a supplementary pension has been state-subsidised since 2002. The principle is as simple as it is effective: if you supplement your statutory pension for your old age in Germany, the state will help by providing subsidies.</p>

    </section>
</div>