<div class="main">
    <section class="main-image">
        <div class="info">
            <h1>Earn while you learn</h1>
            <span>
                <ul>
                    <li>
                        <strong>Earn in Euro after 12th:</strong> Guaranteed job with initial stipend of 900 to 1300 euro per month.
                    </li>
                    <li>
                        <strong>Top-tier Education:</strong> Experience academic excellence from renowned institutions worldwide.
                    </li>
                    <li>
                        <strong>Cultural Immersion:</strong> Discover a new country, language, and way of life.
                    </li>
                    <li>
                        <strong>Global Mindset:</strong> Develop a broader understanding of the world, enhancing your personal and professional growth.
                    </li>
                    <li>
                        <strong>Career Advantages:</strong> Studying abroad opens doors to international job markets and valuable connections.
                    </li>
                </ul>
            </span>
            
        </div>
    </section>


    <section class="jobs" style="margin-top: 30px;">
        <div class="job-body">
          <div class="job-cards-container">
              <div class="job-card" *ngFor="let job of displayedJobs">
                  <img [src]="job.imageUrl" [alt]="job.title" class="job-image" />
                  <div class="title" style="padding: 0px 15px;">
                    <h3>{{ job.title }}</h3>
                  </div>
      
                  <div class="job-details" style="padding: 0px 20px;">
                      <p>📍 {{ job.location }}</p>
                      <p>💼 {{ job.openings }}</p>
                      <p>🎓 {{ job.qualification }}</p>
                  </div>
                  <div class="job-buttons">
                      <button class="apply-btn" (click)="navigateTo('contact-us')">APPLY</button>
                      <button class="desc-btn" (click)="navigateToJobDescription(job.jobID)">JOB DESCRIPTION</button>
                  </div>
              </div>
          </div>
          <div *ngIf="showViewMoreButton" class="view-more-container">
            <button class="view-more-btn" (click)="loadMoreJobs()">View More</button>
          </div>
      </div>
      </section>
</div>