<footer class="footer">
  <div class="footer-subscription">
    <h2>Stay updated with Spaark Overseas</h2>
    <div class="subscription">
      <input 
        type="email" 
        #emailInput 
        placeholder="Enter Email ID" 
        class="footer-input" 
      />
      <button class="footer-button" (click)="onSubscribe(emailInput.value , emailInput)">Subscribe Now</button>
    </div>
  </div>

  <div class="footer-sections">


    <div class="footer-section">
      <h3>Menu</h3>
      <ul class="footer-menu">
        <li><a (click)="navigateTo('home-page')">Home</a></li>
        <li><a (click)="navigateTo('about-us')">About Us</a></li>
        <li><a (click)="navigateTo('jobs')">Jobs</a></li>
        <li><a (click)="navigateTo('internships')">Abroad Internships</a></li>
        <li><a (click)="navigateTo('service')">Our Services</a></li>
        <li><a (click)="navigateTo('blog')">Blogs</a></li>
        <li><a (click)="navigateTo('why-germany')">Why Germany?</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h3>Get In Touch With Us</h3>
      <div class="section-content">
        <div class="icon">
          <a href="#"><img src="/Footer/call.png" alt="Call"/></a>
        </div>
        <div class="content">
          <p><strong>Help & Support:</strong><br />+91 89200 19466 , 8826367950<br />
            <a href="mailto:hr@spaarkoverseas.com" class="footer-link">hr&#64;spaarkoverseas.com</a>
          </p>
        </div>
      </div>

      <div class="section-content">
        <div class="icon">
          <a href="#"><img src="/Footer/clock.png" alt="Clock"/></a>
        </div>
        <div class="content">
          <p><strong>Our Office Hours:</strong><br />11:00 AM - 07:00 PM (Mon-Sat)</p>
        </div>
      </div>

      <div class="section-content">
        <div class="icon">
          <a href="#"><img src="/Footer/location.png" alt="Clock"/></a>
        </div>
        <div class="content">
          <p>D-59, Sector 63,<br />Noida, Uttar Pradesh,<br />India, 201301</p>
        </div>
      </div>
      
      
    </div>

    

    <div class="footer-section">
      <h3>Join Us On</h3>
      <div class="footer-social-icons">
        <a href="https://www.instagram.com/spaarkoverseasofficial/"><img src="/Footer/instagram.png" alt="Instagram"  /></a>
        <a href="https://www.facebook.com/spaarkoverseasofficial/"><img src="/Footer/facebook.png" alt="Facebook"/></a>
        <a href="https://www.linkedin.com/company/spaark-overseas-noida/"><img src="/Footer/linkedin.png" alt="LinkedIn"/></a>
        <a href="https://www.youtube.com/@spaarkoverseasofficial/"><img src="/Footer/youtube.png" alt="Youtube"/></a>
      </div>

      <div class="login">
        <div class="icon">
          <a href="#"><img src="/Footer/login.png" alt="Login"/></a>
        </div>
        <div class="content">
          <a (click)="navigateTo('login')">Admin Login</a>
        </div>
      </div>
    </div>

  </div>
  
  <div class="footer-bottom">
    &copy; 2024 Copyright SpaarkOverseas
  </div>
</footer>