<div class="main">
    <section class="main-image">
        <div class="info">
            <h1>{{ 'about.title' | translate }}</h1>
            <span>
                {{ 'about.description1' | translate }}
            </span>
            <br>
            <span>
                {{ 'about.description2' | translate }}
              </span>
        </div>
    </section>

    <section class="ceo">
        <div class="content">
            <div class="ceo-content">
                <span class="about">About</span>
                <br>
                <span class="ceo-title">{{'about.ceo-name' | translate}}</span>
                <p class="ceo-description">
                    {{ 'about.ceo-info1' | translate}}  
                </p>
                  
                <p class="ceo-description">
                    {{ 'about.ceo-info2' | translate}} 
                 </p>
                
                <p class="ceo-description">
                    {{ 'about.ceo-info3' | translate}} 
                </p>
                
                <p class="ceo-description">
                    {{ 'about.ceo-info4' | translate}}
                </p>
            </div>
        </div>
        <div class="image">
            <img src="/About/Ceo.png" alt="Mr. Abhay Kumar" class="ceo-image" />
        </div>
    </section>

    <section class="mission">
        <div class="heading">
            <span>{{'about.mission' | translate}}</span>
        </div>
        <div class="mission-content">
                <div class="image">
                    <img src="/About/Mission.png" alt="Mission" class="mission-image" />
                </div>
                <div class="content">
                    <p>
                    {{ 'about.mission-desc' | translate}}    
                    </p>
                </div>
        </div>
    </section>


    <section class="recognition">
        <div class="heading">
            <span>Recognition</span>
        </div>
        <hr style="border: 0; border-top: 3px solid #787676; width: 100%; margin: 15px 0;">

        <div class="body">

            <div *ngFor="let certificate of certificates" class="card">
                <div class="content">
                  <h1>{{ certificate.title | translate }}</h1>
                  <p>{{ certificate.description | translate }}</p>
                </div>
                <div class="image">
                  <img [src]="certificate.imageSrc" [alt]="certificate.imageAlt" class="recognition-image" />
                </div>
              </div>
        </div>
    </section>

    <section class="gallery">
        <div class="heading">
            <h2><span style="color: black;">Our</span> Gallery</h2>
        </div>
        <swiper-container *ngIf="isClient" class="mySwiper2" space-between="30" autoplay-delay="2000" autoplay-disable-on-interaction="false" loop="true"  breakpoints='{"640": {"slidesPerView": 1}, "768": {"slidesPerView": 2}, "1024": {"slidesPerView": 3}}'>
            <ng-container *ngFor="let image of galleryImages">
                <swiper-slide >
                    <div class="image-card">
                        <img [src]="image.filePath" alt="Gallery Images">
                    </div>
                </swiper-slide>
            </ng-container>
        </swiper-container>
    </section>

    <section class="advisory">
        <div class="heading">
            <span>Our Advisory Board</span>
        </div>
        <div class="images-container">
            <div class="card" *ngFor="let member of members">
                <img [src]="member.image" [alt]="member.name" class="profile-image" />
                <span class="member-name">{{ member.name }}</span>
                <span>Member of Advisory Board</span>
              </div>
        </div>
    </section>

    <section class="spaark">
        <div class="heading">
            <span>Spaark Family</span>
        </div>
        <div class="spark-images-container">
            <div class="card" *ngFor="let employee of employees">
                <a [href]="employee.linkedIn" target="_blank"><img class="employee-profile" src="/icons/linkedin-2.png" alt="LinkedIn"/></a>
                <img [src]="employee.image" [alt]="employee.name" class="spaark-image" />
                <span class="employee-name">{{ employee.name }}</span>
                <span>{{employee.profile}}</span>
                
              </div>
        </div>
    </section>
</div>