
  <nav (click)="onNavbarClick($event)" class="navbar">
    <div class="wrapper">
      <div class="logo"><img src="SpaarkLogo.png" alt="Logo"></div>
      <input type="radio" name="slider" id="menu-btn" #menuBtn>
      <input type="radio" name="slider" id="close-btn">
      <ul class="nav-links">
        <label for="close-btn" class="btn close-btn"><i class="ri-close-fill"></i></label>
        <li><a [ngClass]="{ active: activeItem === 'home-page' }"  (click)="setActiveItem('home-page'); navigateTo('home-page')">{{ 'navbar.home' | translate}}</a></li>
        <li><a [ngClass]="{ active: activeItem === 'about-us' }"  (click)="setActiveItem('about-us'); navigateTo('about-us')">{{ 'navbar.aboutus' | translate}}</a></li>
        <li><a [ngClass]="{ active: activeItem === 'jobs' }"  (click)="setActiveItem('jobs'); navigateTo('jobs')">{{ 'navbar.jobs' | translate}}</a></li>
        <li><a [ngClass]="{ active: activeItem === 'internships' }" (click)="setActiveItem('internships'); navigateTo('internships')">{{ 'navbar.internships' | translate}}</a></li>
        <li><a [ngClass]="{ active: activeItem === 'service' }" (click)="setActiveItem('service'); navigateTo('service')">{{ 'navbar.services' | translate}}</a></li>
        <li><a [ngClass]="{ active: activeItem === 'blog' }" (click)="setActiveItem('blog'); navigateTo('blog')">{{ 'navbar.blogs' | translate}}</a></li>
        
        <li>
          <a [ngClass]="{ active: isDropdownActive() }" (click)="setActiveItem('more')" class="desktop-item">
            {{ 'navbar.more' | translate}} <i class="ri-arrow-down-s-line"></i>
          </a>
          <input type="checkbox" id="showDrop">
          <label for="showDrop" class="mobile-item">
            {{ 'navbar.more' | translate}} <i class="ri-arrow-down-s-line"></i>
          </label>
          <ul class="drop-menu">
            <li><a [ngClass]="{ active: activeItem === 'privacy&policy' }"  (click)="setActiveItem('privacy&policy'); navigateTo('privacy&policy')">{{ 'navbar.privacypolicy' | translate}}</a></li>
            <li><a [ngClass]="{ active: activeItem === 'why-germany' }"  (click)="setActiveItem('why-germany'); navigateTo('why-germany')">{{ 'navbar.whygermany' | translate}}</a></li>
            <li><a [ngClass]="{ active: activeItem === 'contact-us' }"  (click)="setActiveItem('contact-us'); navigateTo('contact-us')">{{ 'navbar.contactus' | translate}}</a></li>
          </ul>
        </li>
      </ul>
      <label for="menu-btn" class="btn menu-btn"><i class="ri-menu-line"></i></label>
    </div>
  </nav>
  