<div class="main">
    <section class="home-image">
        <div class="info">
            <div class="content">
                <span class="quantity">{{candidatesPlaced}}+</span>
                <span>Candidates Placed</span>
            </div>
            <div class="content">
                <span class="quantity">{{globalEmployers}}</span>
                <span>Global Employers</span>
            </div>
            <div class="content">
                <span class="quantity">{{visaSuccessRate}}%</span>
                <span>Visa Success Rate</span>
            </div>
        </div>
    </section>

    <section class="services">
        <div class="heading">
            <h2><span style="color: black;">Services</span> We Provide</h2>
        </div>
        <div class="service-body">
            <div class="service">
                <div class="description">
                    <div class="details">
                        <div class="title"><span>Job Placements</span></div>
                        <div class="content">
                            Embarking on an international career journey can be both exciting and challenging. At Spaark Overseas , we understand the aspirations and dreams of individuals seeking employment opportunities abroad. Our Abroad Job Consultant Service is designed to guide you through the intricate process of securing a job overseas, ensuring a smooth transition into an enriching professional experience.
                        </div>
                        <div class="enquire"><button (click)="navigateTo('contact-us')">Enquire</button></div>
                    </div>
                </div>
                <div class="service-image">
                    <div class="image-wrapper"><img src="/Home/JobService.png" alt="Job Placement Service" loading="lazy"></div>
                </div>
            </div>
            <div class="reverse-service">
                <div class="service-image">
                    <div class="image-wrapper"><img src="/Home/TrainingService.png" alt="Language Training Service" loading="lazy"></div>
                </div>
                <div class="description">
                    <div class="details">
                        <div class="title"><span>Language Training</span></div>
                        <div class="content">
                            At Spaark Overseas , we offer German language training for levels A1, A2, B1, and B2, led by GOETHE-certified, C2-qualified teachers. Our online classes are flexible, designed to fit your work schedule, and include extra and doubt-clearing sessions at no additional cost. We also provide study materials like books (delivered to your address), PDFs, YouTube videos, GOETHE exam sample papers, and more. Learn German with us and thrive in a globalized world!
                        </div>
                        <div class="enquire"><button (click)="navigateTo('contact-us')">Enquire</button></div>
                    </div>
                </div>
            </div>
            <div class="service">
                <div class="description">
                    <div class="details">
                        <div class="title"><span>Abroad Study Consultants</span></div>
                        <div class="content">
                            Embarking on a journey of education abroad is a transformative experience that opens doors to new perspectives, cultures, and opportunities. At Spaark Overseas  we understand the importance of quality education and the impact it can have on one's future. Our Abroad Study Consultant Service is designed to guide aspiring students through the intricate process of pursuing education in prestigious international institutions.
                        </div>
                        <div class="enquire"><button (click)="navigateTo('contact-us')">Enquire</button></div>
                    </div>
                </div>
                <div class="service-image">
                    <div class="image-wrapper"><img src="/Home/Consulting.png" alt="Abroad Study Consulting Service" loading="lazy"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="jobs" style="margin-top: 15px;">
        <div class="heading">
            <h2><span style="color: black;">Featured</span> Jobs</h2>
            <p>We Are Well-Versed With The Different Job Opportunities</p>
        </div>
        <div class="job-body">
            <div class="job-cards-container">
                <div class="job-card" *ngFor="let job of displayedJobs">
                    <img [src]="job.imageUrl" [alt]="job.title" class="job-image" loading="lazy"/>
                    <h3>{{ job.title }}</h3>
                    <div class="job-details">
                        <p>📍 {{ job.location }}</p>
                        <p>💼 {{ job.openings }}</p>
                        <p>🎓 {{ job.qualification }}</p>
                    </div>
                    <div class="job-buttons">
                        <button class="apply-btn" (click)="navigateTo('contact-us')">APPLY</button>
                        <button *ngIf="!job.isInternship" class="desc-btn" (click)="navigateToJobDescription(job.jobID)">JOB DESCRIPTION</button>
                        <button *ngIf="job.isInternship" class="desc-btn" (click)="navigateToInternDescription(job.jobID)">JOB DESCRIPTION</button>
                    </div>
                </div>
            </div>
            <div class="view-more-container">
                <button class="view-more-btn" (click)="navigateTo('jobs')">View More</button>
            </div>
        </div>
    </section>

    <section class="social-media">
        <div class="heading">
            <h2><span style="color: black;">Social</span> Media</h2>
        </div>
        <div class="media-body">
            <div class="media-cards-container" >
                <div class="media-card-box" *ngFor="let media of social_media">
                    <div class="media-card" (click)="redirectToMedia(media.link)"  style="cursor: pointer;">
                        <img [src]="media.icon_image" width="50px" class="media-icon"/>
                        <img [src]="media.imageUrl" [alt]="media.title" class="media-image" />
                    </div>
                </div>
                
            </div>
        </div>
    </section>

    <section class="news">
        <div class="heading">
            <h2><span style="color: black;">Our</span> News Feed</h2>
        </div>
        <swiper-container ngSkipHydration class="mySwiper" space-between="30" autoplay-delay="3500" autoplay-disable-on-interaction="false" loop="true"  breakpoints='{"640": {"slidesPerView": 1}, "768": {"slidesPerView": 2}, "1024": {"slidesPerView": 3}}'>
            <!-- <swiper-slide><div class="news-card"><img src="/Home/news1.png" alt="News about Spaark Overseas"></div></swiper-slide>
            <swiper-slide><div class="news-card"><img src="/Home/news2.png" alt="News about Spaark Overseas"></div></swiper-slide>
            <swiper-slide><div class="news-card"><img src="/Home/news3.png" alt="News about Spaark Overseas"></div></swiper-slide>
            <swiper-slide><div class="news-card"><img src="/Home/news4.jpeg" alt="News about Spaark Overseas"></div></swiper-slide> -->
            <ng-container *ngFor="let image of newsImages">
                <swiper-slide>
                    <div class="news-card">
                      <img [src]="image.filePath" alt="News about Spaark Overseas" />
                    </div>
                  </swiper-slide>
            </ng-container>
            
        </swiper-container>
    </section>

    <section class="process">
        <div class="heading">
            <h2><span style="color: black;">Our</span> Process</h2>
        </div>
        <div class="process-image">
            <img src="/Home/process.png" alt="Our Process">
        </div>
        <!-- <div class="view-more-container">
            <button class="view-more-btn" (click)="navigateTo('contact-us')">View More</button>
        </div> -->
    </section>

    <section class="reviews">
        <div class="heading">
            <h2>Client Reviews</h2>
        </div>
        <swiper-container *ngIf="isClient" class="mySwiper1" space-between="30" autoplay-delay="2000" autoplay-disable-on-interaction="false" loop="true" breakpoints='{"640": {"slidesPerView": 1}, "768": {"slidesPerView": 2}, "1024": {"slidesPerView": 3}}'>
            <ng-container *ngFor="let review of reviews">
              <swiper-slide class="review-card">
                <div class="carousel-item">
                    <img class="review-image" [src]="review.imageUrl" [alt]="'Image of ' + review.name" 
                  />
                  <p class="review-text">
                    {{ review.review.length > 80 ? (review.review | slice:0:80) + '...' : review.review }}
                  </p>
                  <p class="review-author">{{ review.name }}</p>
                </div>
              </swiper-slide>
            </ng-container>
          </swiper-container>
          <div class="view-more-container">
            <a class="view-more-btn" (click)="navigateTo('client-reviews')">View More</a>
        </div>
    </section>


</div>