
<nav (click)="onNavbarClick($event)" class="navbar">
    <div class="wrapper">
      <div class="logo"><img src="SpaarkLogo.png" alt="Logo"></div>
      <input type="radio" name="slider" id="menu-btn" #menuBtn>
      <input type="radio" name="slider" id="close-btn">
      <ul class="nav-links">
        <label for="close-btn" class="btn close-btn"><i class="ri-close-fill"></i></label>

        <li><a [ngClass]="{ active: activeItem === 'joblist' }"  (click)="setActiveItem('joblist'); navigateTo('admin/joblist')">Jobs</a></li>
        <li><a [ngClass]="{ active: activeItem === 'bloglist' }"  (click)="setActiveItem('bloglist'); navigateTo('admin/bloglist')">Blogs</a></li>
        <li><a [ngClass]="{ active: activeItem === 'gallery-images' }"  (click)="setActiveItem('gallery-images'); navigateTo('admin/gallery-images')">Gallery</a></li>
        <li><a [ngClass]="{ active: activeItem === 'news-articles' }"  (click)="setActiveItem('news-articles'); navigateTo('admin/news-articles')">News</a></li>
        <li><a [ngClass]="{ active: activeItem === 'manage-reviews' }"  (click)="setActiveItem('manage-reviews'); navigateTo('admin/manage-reviews')">Reviews</a></li>

        <li class="logout">
          <a class="profile-icon"><i class="ri-user-line"></i> </a>
          <ul class="dropdown-menu">
            <li (click)="openCreateUserModal()"><a >Create User</a></li>
            <li (click)="logout()"><a >Logout</a></li>
          </ul>
        </li>

        <li class="mobile-view create-user">
          <a (click)="openCreateUserModal()">Create User</a>
        </li>

        <li (click)="logout()" class="mobile-view logout-btn">
          <a>Log Out</a>
        </li>
      </ul>
      

  

      <label for="menu-btn" class="btn menu-btn"><i class="ri-menu-line"></i></label>
    </div>
  </nav>
  

  <app-create-user [isOpen]="isCreateUserModalOpen" (close)="closeCreateUserModal()"></app-create-user>