<div class="main">
    <section class="main-image">
        <div class="info">
            <h1>Learning German</h1>
            <span>
                The German language is an important key to successfully settle down and to feel comfortable in Germany. We will show you what options you have to learn German – either in Germany or in your home country.
            </span>
        </div>
    </section>

    <section class="learning-german">
        <h2>
            Do I need to know German?
        </h2>
        <p>Learning German is one of the most important steps you can take to prepare for life in Germany. It will help you settle in more quickly and make it easier for you to find new friends. For some purposes, such as work or study, it may even be necessary for you to demonstrate a certain level of German. Proof of a particular level of German is also often required when applying for a visa.</p>
  
  <h3>Healthcare professions</h3>
  <p>If you plan to work in the health sector in Germany, e.g. as a nurse or doctor, knowledge of the German language is essential. Level B1 or B2 of the Common European Framework of Reference for Languages (CEFR) is required, depending on the federal state in which you wish to work.</p>
  <p><strong style="color: #e74c3c;">Note:</strong> You will need to obtain recognition in order to practise a regulated profession in Germany, such as teaching or law. These and many other regulated professions also require a knowledge of German. Further information on the recognition procedure and language certificates can be found on the "Anerkennung in Deutschland" portal, and personal advice can be obtained from the Service Center for Professional Recognition (ZSBA).</p>
  
  <h3>German for students and trainees</h3>
  <p>If you are applying for a German-language degree programme in Germany, you will need to prove that you have the language skills required by the higher education institution. As a rule, prospective trainees must also be able to speak German at the level required to start their training in Germany. You can find more information on this in the “Study” or “Training” section.</p>
  
  <h3>German for spouses</h3>
  <p>German language skills are important to help you integrate quickly into working life and society. Your partner is also likely to feel more at home in Germany if all members of your family can speak at least some German. Nevertheless, if you are applying for a visa for your spouse or children to join you in Germany, you do not need to provide evidence of their language skills if you have one of the following residence permits:</p>
  
  <ul>
    <li>EU Blue Card (Section 18g of the Residence Act [(AufenthG)])</li>
    <li>ICT Card and Mobile ICT Card (Sections 19, 19a AufenthG)</li>
    <li>Residence permit for skilled workers (Section 18a AufenthG or Section 18b AufenthG)</li>
    <li>Settlement permit for highly skilled workers (Section 18c para. 3(3) AufenthG)</li>
    <li>Residence permit for research purposes and mobile researchers (Sections 18d, 18f AufenthG)</li>
    <li>Residence permit for other employment purposes; civil servants (Section 19c AufenthG)</li>
    <li>Residence permit for the purpose of self-employment (Section 21 AufenthG)</li>
  </ul>

  <h3>German language skills as a visa requirement</h3>
  <p>A certain level of German may be required to apply for a visa. You need to have a B2 level of German to obtain a visa for the purpose of seeking vocational training. German language skills at level B1 are required to obtain a visa for vocational training.</p>
  <p>A minimum A2 level is usually required to obtain a visa for the recognition of foreign professional qualifications.</p>


  <h2>Learning German in Germany</h2>
    <p>Once you have arrived in Germany, there are several ways to improve your language skills with courses that are right for you:</p>

    <ul>
        <li>
            <strong>Job-related German courses:</strong> 
            Through the Federal Office for Migration and Refugees (BAMF), you can enrol in vocational language courses for free or at reduced rates, depending on your situation. Please get in touch with the contact person in your region.
        </li>
        <li>
            <strong>Integration courses:</strong> 
            Integration courses are courses for language and general orientation. They cover everyday topics such as the workplace and professions, shopping, television and radio, or childhood education.
        </li>
        <li>
            <strong>Adult education centres:</strong> 
            The adult education centers, located in most German cities, offer an affordable alternative to more expensive programmes. Check the website of the adult education center for locations near you and the range of courses on offer.
        </li>
        <li>
            <strong>Language courses for adults, students, kids and teenagers in Germany:</strong> 
            Language courses are offered by Carl Duisberg Centren for all age groups. These courses cater to different needs, such as language learning for adults, students, kids, and teenagers in Germany.
        </li>
        <li>
            <strong>Goethe-Institut:</strong> 
            At all Goethe-Institut locations in Germany, you can take language courses (online and on-site), refresher courses, and exams from levels A1 to C2, as well as exam preparation courses.
        </li>
        <li>
            <strong>Courses for children and adolescents:</strong> 
            German courses are offered for all ages, and they are tailored to the specific interests and language skills of children and adolescents. You can find more details on this website.
        </li>
    </ul>


    <h2>Integration Courses</h2>
    <p>Integration courses cover everyday topics such as work and professions, shopping, television or childhood education. Participants also learn how to deal with administrative offices, how to write emails or letters and how to carry oneself properly in job interviews. You will learn about culture and politics, living together in Germany as well as the values German society is based on. The orientation course usually consists of 100 lessons, while the language course entails 600 lessons. Special courses are offered for women, parents or adolescents and adults up to the age of 26, among others. At the end of each course, all participants take a final examination free of charge.</p>

    <h3>Who can participate in an integration course?</h3>
    <p>The integration courses are intended for anyone who is new to Germany and whose German language skills are not yet adequate enough for dealing with the demands of everyday life. Whether you are free to attend a course or if the course is mandatory for you depends on your country of origin and your level of fluency in German. Here is where we have compiled the most important regulations for participation:</p>

    <ul>
        <li><strong>As an EU citizen:</strong> You are welcome to take part in a free integration course if you want to learn German or improve your German skills, provided that a place is available. However, you are not required to do so.</li>
        <li><strong>Non-EU citizens:</strong> Non-EU citizens are also allowed to take these courses. If your German language skills are not particularly good yet, you may also be required to attend. If you work and do not have time to attend a full or part-time course, you can be exempted from attending the course. Upon the issuance of your residence title, the foreigners authority will let you know whether you are free or required to attend a course.</li>
    </ul>

    <p>More information on the conditions of participation and costs can be found <a href="#">here</a>.</p>

    <h3>How to find an integration course</h3>
    <p>Integration courses are offered by over 1,600 local language schools and they are funded by the Federal Office for Migration and Refugees (BAMF).</p>

    <ul>
        <li>If you come from a country outside the EU, go to your local foreigners authority which will issue a <strong>Berechtigungsschein</strong> (permit to attend an integration course). EU citizens can apply for admission to an integration course at the Federal Office for Migration and Refugees.</li>
        <li>Afterwards, you should look for a course provider. The foreigners authority or the Migration Advisory Centre will offer their help. It is also very easy to search the online information system <strong>NAvI</strong> of the Federal Office for Migration and Refugees (BAMF).</li>
        <li>Once you have found a course provider in your area, go to the provider's office or call them. The course provider will help you select a suitable integration course and let you know when it is scheduled to begin.</li>
    </ul>

    <h3>After passing the final examination</h3>
    <p>After passing the final examination, you will be issued an <strong>“Integration Course Certificate”</strong>. If you pass the final examination within two years of being accepted to the course, half of the course fee will be refunded to you.</p>

    </section>
</div>