<div class="login-container">
    <div class="login-box">
      <img src="SpaarkLogo.png" alt="Magic Billion Logo" class="logo" />
      <div *ngIf="!isOtp">
        <h2 style="color: #517ba9;">Verify Email</h2>
        <div class="form-group">
          <input type="text" placeholder="Email" [(ngModel)]="email"  class="form-control" />
        </div>
        <button type="submit" class="btn-login" (click)="validateEmail()">Verify</button>
      </div>

      <div *ngIf="isOtp">
        <h2 style="color: #517ba9;">Reset Password</h2>
        <div class="form-group">
          <input type="password" placeholder="Enter New Password" [(ngModel)]="password1" class="form-control" />
        </div>
        <div class="form-group">
          <input type="password" placeholder="Confirm New Password" [(ngModel)]="password2"class="form-control" />
        </div>
        <div class="form-group">
          <input type="text" placeholder="OTP" [(ngModel)]="otp" class="form-control" />
        </div>
        <button type="submit" class="btn-login" (click)="resetPassword()">Reset</button>
      </div>
    </div>
  </div>