

.content {
    margin-top: 75px;
}


.language-switch{
    padding:10px;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.language-switch .lang-btn{
    background-color: #fff;
    color: #002D46;
    padding: 5px 15px;
    border: 1px solid #002D46;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

.language-switch .lang-btn:hover{
    background-color: #002D46;
    color: #fff;
}