<div class="main">
  <section class="main-image">
      <div class="info">
          <h1>{{ 'blogs.title' | translate }}</h1>
          <span>
              {{ 'blogs.description1' | translate }}
          </span>
          <br>
          <span>
              {{ 'blogs.description2' | translate }}
            </span>
      </div>
  </section>

  <section class="blogs">
    <div class="content-container">
      <div class="main-content">
        <div class="article" *ngFor="let blog of blogs">
          <img [src]="blog.imageUrl" alt="{{ blog.title }}" class="article-image" />
          <div class="article-details">
            <h2 class="article-title">{{ blog.title }}</h2>
            <p class="article-date">{{ blog.date }}</p>
            <p class="article-summary">{{ blog.description }}</p>
            <a href="#" class="read-more">Read More »</a>
          </div>
        </div>
      </div>
    
      <div class="sidebar">
        <h3 class="sidebar-title">Most Read</h3>
        <div class="sidebar-item" *ngFor="let item of mostRead">
          <img [src]="item.image" alt="{{ item.title }}" class="sidebar-image" />
          <a href="#" class="sidebar-link">{{ item.title }}</a>
        </div>
      </div>
    </div>
  </section>

</div>