<div class="main">
    <section class="main-image">
        <div class="info">
            <h1>Discover Germany</h1>
            <span>
                What is the secret behind Germany's federalism, free-thinking culture and strong economy? Here you can read more on what the Federal Republic of Germany is all about!
            </span>
        </div>
    </section>


    <section class="discover-germany">

        <h2>German federal states at a glance</h2>

        <p>Due to its central location, Germany shares borders with a total of nine neighbouring European countries. The Federal Republic extends from the Alps in the south to the North and Baltic Seas.</p>

        <p>As a federal system, the German Federal Republic consists of 16 federal states whose state governments partly take on their own state duties. Explore Germany on our interactive map of federal states. Find out about their capitals, populations, and economic sectors.</p>
    
        <h2>Politics, democracy, freedom</h2>

        <p>Germany has a long history, shaped by challenges including world wars and dictatorship. The Federal Republic of Germany, founded in 1949, is a stable democracy with 84 million citizens. The Basic Law is the foundation of the country, ensuring it is a constitutional, federal, and welfare state.</p>
    
        <p>The constitution guarantees fundamental rights such as equality before the law, freedom of expression, and protection from political persecution. The General Act on Equal Treatment (AGG) ensures additional rights like protection based on sexual identity.</p>
        
        <p>Germany is a member of the European Union, promoting freedom of movement for its citizens. It also belongs to the United Nations, NATO, G7, and G20, with numerous bilateral partnerships and trade agreements.</p>
        
        <p>Germany is one of the safest countries in the world, ranking 15th in the Global Peace Index (2023) and a top ten country in the Corruption Perceptions Index (2023). Security investments ensure the safety of citizens through a network of authorities and services.</p>

        <h2>German industry generates high earnings</h2>

        <p>Despite cyclical fluctuations, earnings have risen in most sectors, with export-focused industries playing a key role. The automotive industry led in 2022, posting 506 billion euros in earnings. As an innovation leader, it drives growth and prosperity, benefiting other sectors like chemicals, electrical engineering, and steel.</p>
    
        <p>Other sectors also generate significant earnings, such as healthcare (392 billion euros in 2021) and electrical engineering (182 billion euros in 2020). These industries offer a broad range of employment opportunities.</p>

        <h2>Germany's Cosmopolitan Culture and Immigrant Contributions</h2>

        <ul>
            <li><strong>Cultural Diversity:</strong> Around 22 million people in Germany have a migrant background, making up nearly one-fifth of the population. Major cities like Berlin, Munich, and Hamburg are popular destinations for immigrants due to diverse opportunities and rich cultural experiences.</li>
            
            <li><strong>Immigrant Contributions:</strong> Immigrants play a major role in various sectors including business, politics, sports, and the arts. Many with migrant backgrounds have become successful professionals and influential figures in Germany.</li>
            
            <li><strong>Equal Rights and Participation:</strong> Germany ensures equal rights and opportunities for all social groups, promoting diversity and inclusiveness in various aspects of society. This commitment is reflected in its Basic Law, guaranteeing fundamental rights.</li>
            
            <li><strong>Quality of Life:</strong> Germany is politically stable, economically prosperous, and offers high living standards. Cities like Düsseldorf, Munich, and Frankfurt are ranked among the world’s top 10 most liveable cities, offering excellent healthcare, housing, and leisure options.</li>
            
            <li><strong>Freedom of Religion:</strong> Freedom of religion is protected under the Basic Law, and Germany is home to a wide range of religious communities. Christianity is the majority religion, followed by Islam and numerous other faiths.</li>
            
            <li><strong>Cultural and Recreational Activities:</strong> Germany offers a wide variety of cultural and recreational options, such as sports clubs, libraries, museums, music schools, and adult education centers (Volkshochschule). These provide opportunities for personal growth, learning, and social interaction.</li>
        </ul>

        <h2>Education</h2>

        <p><strong>Your children are well looked after:</strong> Parents can focus on their professional careers while knowing their children are in good hands. In November 2022, over 59,323 day-care facilities were available in Germany. Over a third of children aged 0 to 3 years received daycare, and 93% of children aged 3 to 6 years were looked after in various facilities, including schoolchildren.</p>

        <p><strong>Education for everyone:</strong> The German education system is world-renowned, with approximately 32,000 schools in the 2020-2021 school year, offering education to children of all ages. Germany also has a broad range of higher education institutions, including universities and universities of applied sciences, where students can pursue various fields of study from A for Archaeology to Z for Zoology.</p>

        <p><strong>International students are drawn to STEM subjects:</strong> Many international students choose Germany for its renowned education system. In 2019, 55% of international students studied STEM subjects. This reflects Germany's emphasis on research and technology, which is highly valued in the labor market.</p>

        <p><strong>Trainees from third countries also come to Germany:</strong> The German education system is also strengthened by international trainees. In 2021, 5,345 trainees from outside the EU came to Germany for in-company training, contributing to the country's workforce. Germany's dual education system allows trainees to gain practical experience while studying, ensuring a constant supply of qualified professionals.</p>
    
        <h2>Emplyement & Earnings</h2>

        <p><strong>Unemployment in Germany:</strong> Germany enjoys one of the lowest unemployment rates worldwide, standing at just 3.6% in 2021. This is largely due to the country’s highly effective dual education system, which also helps maintain low youth unemployment rates. In 2021, only 7.8% of young people aged 15 to 24 were registered as unemployed.</p>

        <p><strong>Understanding Salary Deductions:</strong> In Germany, the gross salary stated in your employment contract is not the amount you’ll take home. For instance, the average gross salary in 2023 ranged from €4,866.67 to €2,200 per month. However, social security contributions and income taxes are deducted from this amount, reducing the final figure. After these deductions, an unmarried person in tax bracket I in Western Germany typically takes home a net salary between €1,584.15 and €3,044.31. These contributions cover healthcare, unemployment, and retirement benefits, ensuring financial security in case of illness or job loss.</p>

        <p><strong>Work-Life Balance in Germany:</strong> Germany is known for its efficient workforce, but contrary to what some might assume, the country’s success doesn’t stem from excessively long working hours. On average, German employees work just 1,574 hours per year, the lowest among EU-27 countries. This short working week is complemented by a generous vacation package, with German workers enjoying an average of 41 days off each year, including public holidays, well above the EU average of 35.7 days.</p>

        <p><strong>Cost of Living in Germany:</strong> The cost of living in Germany is carefully balanced. In 2021, the average household spent €2,623 per month. A large portion of this expenditure, €966, went toward accommodation, energy, and housing maintenance. Food, beverages, and tobacco accounted for €402, while transport expenses reached €322. Despite these costs, Germans still prioritize recreation and culture, spending about €255 on activities like sports and cinema each month.</p>
    </section>
</div>