<!-- <div class="main">
    <section class="main-image">
        <div class="info">
            <span class="title">Services</span>
            <span class="content">
                Need assistance or more information? We’re here to support you - find everything you need right here!
            </span>
            
        </div>
    </section>


    <section class="services">
        <div class="service-body">
            
        </div>
    </section>

</div> -->

<div class="main">
    <section class="main-image">
        <div class="info">
            <span class="title">Services</span>
            <span class="content">
                Need assistance or more information? We’re here to support you - find everything you need right here!
            </span>
            
        </div>
    </section>

    <div class="services">
        <div class="service-body">
            <div class="service">
                <div class="description">
                    <div class="details">
                        <div class="title"><span>Counselling</span></div>
                        <div class="content">
                            Our counselling sessions are designed to guide you through every step of your international journey, whether it’s for employment or education. We help you make informed decisions that align with your career goals and aspirations.
                        </div>
                        <div class="sub-title"> <span>Offerings</span></div>
                        <ul class="sub-content">
                            <li>
                                <div class="li-content">
                                    <img src="/Services/bulletpoint.png" alt="Bullet" class="custom-bullet">
                                    <span>Personalized guidance for overseas employment and study opportunities</span>
                                </div>
                            </li>
                           
                            <li>
                                <div class="li-content">
                                    <img src="/Services/bulletpoint.png" alt="Bullet" class="custom-bullet">
                                    <span>Insights into global opportunities and futuristic career trends</span>
                                </div></li>
                            <li>
                                <div class="li-content">
                                    <img src="/Services/bulletpoint.png" alt="Bullet" class="custom-bullet">
                                    <span>Interactive sessions with industry experts and international representatives</span>
                                </div></li>
                            <li>
                                <div class="li-content">
                                    <img src="/Services/bulletpoint.png" alt="Bullet" class="custom-bullet">
                                    <span>Step-by-step support for a seamless overseas journey</span>
                                </div></li>
                        </ul>
                        <div class="enquire"><button>Enquire</button></div>
                    </div>
                </div>
                <div class="service-image">
                    <div class="image-wrapper"><img src="/Services/Counselling.png" alt=""></div>
                </div>
            </div>
            
            
            <div class="reverse-service">
                <div class="service-image">
                    <div class="image-wrapper"><img src="/Services/Language.png" alt=""></div>
                </div>
                <div class="description">
                    <div class="details">
                        <div class="title"><span>Language Training</span></div>
                        <div class="content">
                            We empower individuals with language skills that open doors to global opportunities. Our German Language Training Service is designed to help you excel at every level, ensuring flexibility and quality learning.
                        </div>
                        <div class="sub-title"> <span>Offerings</span></div>
                        <ul class="sub-content">
                            <li>
                                <div class="li-content">
                                    <img src="/Services/bulletpoint.png" alt="Bullet" class="custom-bullet">
                                    <span>Covers all four levels of the German language – A1, A2, B1, and B2.</span>
                                </div>
                            </li>
                           
                            <li>
                                <div class="li-content">
                                    <img src="/Services/bulletpoint.png" alt="Bullet" class="custom-bullet">
                                    <span>Tailored to fit your schedule, taught by GOETHE-certified and highly qualified instructors.</span>
                                </div></li>
                            <li>
                                <div class="li-content">
                                    <img src="/Services/bulletpoint.png" alt="Bullet" class="custom-bullet">
                                    <span>Extra sessions and doubt-clearing at no cost, with books delivered to your doorstep.</span>
                                </div></li>
                            <li>
                                <div class="li-content">
                                    <img src="/Services/bulletpoint.png" alt="Bullet" class="custom-bullet">
                                    <span>Access to PDFs, YouTube videos, GOETHE exam samples, and additional study materials to enhance learning.</span>
                                </div></li>
                        </ul>
                        <div class="enquire"><button>Enquire</button></div>
                    </div>
                </div>
            </div>
            
            <div class="service">
                <div class="description">
                    <div class="details">
                        <div class="title"><span>Work Permit & Visa Assistance</span></div>
                        <div class="content">
                            We provide comprehensive Work Permit & Visa Assistance services, ensuring a hassle-free process for individuals seeking career opportunities abroad. Our dedicated team supports you through every step of the journey.
                        </div>
                        <div class="sub-title"> <span>Offerings</span></div>
                        <ul class="sub-content">
                            <li>
                                <div class="li-content">
                                    <img src="/Services/bulletpoint.png" alt="Bullet" class="custom-bullet">
                                    <span>Translation of documents from any Indian language to German.</span>
                                </div>
                            </li>
                           
                            <li>
                                <div class="li-content">
                                    <img src="/Services/bulletpoint.png" alt="Bullet" class="custom-bullet">
                                    <span>Ensuring your offer letter and documents are recognized in Germany.</span>
                                </div></li>
                            <li>
                                <div class="li-content">
                                    <img src="/Services/bulletpoint.png" alt="Bullet" class="custom-bullet">
                                    <span>Arranging interviews with employers to secure your offer letter.</span>
                                </div></li>
                            <li>
                                <div class="li-content">
                                    <img src="/Services/bulletpoint.png" alt="Bullet" class="custom-bullet">
                                    <span>Facilitating work permits, document attestation, and accommodation permits.</span>
                                </div></li>
                        </ul>
                        <div class="enquire"><button>Enquire</button></div>
                    </div>
                </div>
                <div class="service-image">
                    <div class="image-wrapper"><img src="/Services/WorkVisa.png" alt=""></div>
                </div>
            </div>
            
            
            <div class="reverse-service">
                <div class="service-image">
                    <div class="image-wrapper"><img src="/Services/Cultural.png" alt=""></div>
                </div>
                <div class="description">
                    <div class="details">
                        <div class="title"><span>Cultural Immersion Training</span></div>
                        <div class="content">
                            Our Cultural Immersion Training Service prepares individuals and organizations to adapt and thrive in diverse global environments, fostering cultural understanding and confidence.
                        </div>
                        <div class="sub-title"> <span>Offerings</span></div>
                        <ul class="sub-content">
                            <li>
                                <div class="li-content">
                                    <img src="/Services/bulletpoint.png" alt="Bullet" class="custom-bullet">
                                    <span>German Partner Interaction sessions to assess candidates’  intent, current experience, skills and dedication.</span>
                                </div>
                            </li>
                           
                            <li>
                                <div class="li-content">
                                    <img src="/Services/bulletpoint.png" alt="Bullet" class="custom-bullet">
                                    <span>German employers join online classes to monitor candidates’ progress and interact with them directly.</span>
                                </div></li>
                            <li>
                                <div class="li-content">
                                    <img src="/Services/bulletpoint.png" alt="Bullet" class="custom-bullet">
                                    <span>Insights into German lifestyle, landmarks, and social norms are provided for better cultural adaptation.</span>
                                </div></li>
                            <li>
                                <div class="li-content">
                                    <img src="/Services/bulletpoint.png" alt="Bullet" class="custom-bullet">
                                    <span>Candidates are introduced to German culture, festivals, and work practices to ease their transition.</span>
                                </div></li>
                        </ul>
                        <div class="enquire"><button>Enquire</button></div>
                    </div>
                </div>
            </div>

            <div class="service">
                <div class="description">
                    <div class="details">
                        <div class="title"><span>Skilling & Testing</span></div>
                        <div class="content">
                            In today’s competitive workforce, continuous learning and skill validation are key to success. At Spaark Overseas (A unit of Proask Overseas Pvt. LTD.), we offer Skilling and Testing services to help individuals and organizations stay ahead.
                        </div>    
                        <div class="sub-title"> <span>Offerings</span></div>
                        <ul class="sub-content">
                            <li>
                                <div class="li-content">
                                    <img src="/Services/bulletpoint.png" alt="Bullet" class="custom-bullet">
                                    <span>Skill assessment to identify strengths and areas for improvement.</span>
                                </div>
                            </li>
                           
                            <li>
                                <div class="li-content">
                                    <img src="/Services/bulletpoint.png" alt="Bullet" class="custom-bullet">
                                    <span>Customized training programs to enhance domain-specific expertise.</span>
                                </div></li>
                            <li>
                                <div class="li-content">
                                    <img src="/Services/bulletpoint.png" alt="Bullet" class="custom-bullet">
                                    <span>Certification programs to validate skills, providing globally recognized credentials to boost career prospects.</span>
                                </div></li>
                            <li>
                                <div class="li-content">
                                    <img src="/Services/bulletpoint.png" alt="Bullet" class="custom-bullet">
                                    <span>Practical testing through real-world scenarios to ensure candidates’ job readiness.</span>
                                </div></li>
                        </ul>
                        <div class="enquire"><button>Enquire</button></div>
                    </div>
                </div>
                <div class="service-image">
                    <div class="image-wrapper"><img src="/Services/Skill.png" alt=""></div>
                </div>
            </div>
            
            
            <div class="reverse-service">
                <div class="service-image">
                    <div class="image-wrapper"><img src="/Services/Preparation.png" alt=""></div>
                </div>
                <div class="description">
                    <div class="details">
                        <div class="title"><span>Interview Preparation</span></div>
                        <div class="content">
                            We understand the importance of thorough interview preparation and proper documentation. Our specialized services are designed to equip individuals with the skills and confidence they need to excel in job interviews.
                        </div>
                        <div class="sub-title"> <span>Offerings</span></div>
                        <ul class="sub-content">
                            <li>
                                <div class="li-content">
                                    <img src="/Services/bulletpoint.png" alt="Bullet" class="custom-bullet">
                                    <span>Discuss your career goals and get personalized guidance from our expert counselors.</span>
                                </div>
                            </li>
                           
                            <li>
                                <div class="li-content">
                                    <img src="/Services/bulletpoint.png" alt="Bullet" class="custom-bullet">
                                    <span>Technical preparation with a focus on industry knowledge and language skills.</span>
                                </div></li>
                            <li>
                                <div class="li-content">
                                    <img src="/Services/bulletpoint.png" alt="Bullet" class="custom-bullet">
                                    <span>Interview etiquette training, covering professional behavior, body language, and communication strategies.</span>
                                </div></li>
                            <li>
                                <div class="li-content">
                                    <img src="/Services/bulletpoint.png" alt="Bullet" class="custom-bullet">
                                    <span>Secure your interview slots with our German partner and be fully prepared for success.</span>
                                </div></li>
                        </ul>
                        <div class="enquire"><button>Enquire</button></div>
                    </div>
                </div>
            

            </div>
            
            
        </div>
    </div>
    
</div>


