<div class="main">
    <section class="main-image">
        <div class="info">
            <h1>Family life in Germany</h1>
            <span>
                Germany places great importance on families. Here you can read more about family reunification, parenthood and the German school system.
            </span>
        </div>
    </section>


    <section class="family-life">


        <h2>Financial support for families</h2>
        <p> In Germany, it is possible for both parents to take parental leave after the birth of their child. You can find further information on the duration and possibilities for financial support here.</p>


        <h3>Parental Leave</h3>
        <p>After the birth of a child, both mothers and fathers in Germany have the right to take parental leave. This allows parents to care for their child and spend time together as a family. During this period, employers can only terminate employment under exceptional circumstances, such as insolvency or business shutdowns.</p>

        <p>Parents are entitled to take up to three years off work. While parents can take this leave at different times, the parental leave must be taken before the child's third birthday. Some leave can also be taken between the child's third and eighth birthdays, giving flexibility to the family.</p>

        <p>If you choose to take parental leave, you will not receive your usual salary, but you can apply for parental allowance to help compensate for the loss of income. At the end of the leave, parents are entitled to return to their previous work arrangement, or something similar if the position has changed.</p>

        <p>If you wish to apply for parental leave, the <a href="https://familienportal.de">Familienportal.de</a> website offers further guidance and the addresses of Parental Allowance Offices.</p>

        <h3>Who is Entitled to Parental Leave?</h3>
        <p>Employees with a German employment contract, whether full-time, part-time, or on a fixed-term contract, are entitled to parental leave. This also applies to trainees. However, students, interns, and self-employed people are not eligible for parental leave.</p>

        <p>If both parents are employed, they can take parental leave simultaneously or alternately. The key requirement is that parents must live together with their child and provide the majority of care themselves.</p>

        <h3>Parental Allowance</h3>
        <p>During parental leave, you may not receive a salary, but you can apply for parental allowance (Elterngeld), which helps maintain your financial stability. Parental allowance is available to all parents, including those who had no income before the child was born.</p>

        <p>There are three main types of parental allowance:</p>
        <div class="important">
            <ul>
                <li><span class="highlight">Basic Parental Allowance (Basiselterngeld)</span></li>
                <li><span class="highlight">Parental Allowance Plus (ElterngeldPlus)</span></li>
                <li><span class="highlight">Partnership Bonus (Partnerschaftsbonus)</span></li>
            </ul>
        </div>

        <p>You can combine these options depending on your specific needs. The duration of the allowance varies depending on which options you choose. For more detailed information, you can visit the family portal or contact the Parental Allowance Offices.</p>

        <h3>Eligibility for International Skilled Workers</h3>
        <p>If you are a citizen of an EU country, Iceland, Liechtenstein, Norway, or Switzerland, and you live and work in Germany, you are eligible for parental allowance. Non-EU citizens may also be eligible if they have a residence title that allows them to work in Germany.</p>

        <p>However, students and vocational trainees in Germany are not eligible for parental allowance. For more information on eligibility, consult the <a href="https://familienportal.de">family portal</a> or contact your local parental allowance office.</p>

        
        <h2>Child care</h2>

        <p>Early childhood education in Germany focuses on building relationships and providing age-appropriate educational programs. Educators work closely with children to promote their social, emotional, physical, and intellectual development. These early years are crucial for fostering growth in various areas, and educators apply various pedagogical methods to provide individual support for each child.</p>

        <p>Childcare services are not only beneficial for the children, but they also play a vital role in enabling parents to return to or enter the labor market. Below, we outline the different types of childcare options available in Germany.</p>

        <strong>Day Nursery (Kindertagesstätte - Kita)</strong>
        <p>The term "Kindertagesstätte" or "Kita" refers to various forms of childcare. In a day nursery, children are cared for by qualified early childhood educators for part or all of the day. There are different pedagogical approaches in each facility, and it is essential to find the one that best fits your child's needs. Nurseries typically care for children of all ages, but some focus on younger children between the ages of 0-3 in crèches (Kinderkrippe).</p>

        <strong>Childcare Options Available</strong>
        <ul>
            <li><strong>Crèches (Kinderkrippe) for Children Aged 0-3</strong>: Crèches cater specifically to children under the age of three. These facilities provide small, intimate groups where children receive individualized attention from early childhood educators. Crèches emphasize playful learning, with activities like outdoor play, naps, and age-appropriate meals being part of the daily routine. Drop-off and pick-up times are often flexible, and parents' contributions to costs vary depending on income, region, and the organization running the crèche.</li>
            <li><strong>Childminding (Kindertagespflege)</strong>: Childminding is a flexible, family-oriented childcare option provided by licensed childminders (Tageseltern). This form of childcare is particularly beneficial for children under three years old. The childminders care for children in a personal setting, which can be in the childminder's home, the parents' home, or another location. In some states, childminders may form groups to care for more than five children, creating a small daycare environment, often referred to as "Großtagespflege" or large daycare centers.</li>
            <li><strong>Kindergarten for Children Aged 3-7</strong>: Kindergartens in Germany serve children between the ages of three and seven. These schools focus on stimulating children’s curiosity through fun activities and games. Additionally, children are introduced to nature, technology, and language skills through simple experiments and instruction. Some kindergartens also offer bilingual programs, with English being the most common second language, followed by French and Danish. The costs of kindergarten vary widely depending on the region, the organization's policies, and parental income.</li>
        </ul>

        <p>As of 2023, the implementation of the Kita Quality Act (KiTa-Qualitätsgesetz) has allowed federal states to receive funding to improve the quality of childcare facilities across Germany.</p>

        <strong>Legal Entitlement to Childcare</strong>
        <p>Since 1 August 2013, children aged one and older have a legal right to attend a nursery or be cared for by a childminder. This entitlement, specified in the Child Promotion Act (KiföG), applies regardless of the parents' employment status. Additionally, children over the age of three have full entitlement to childcare until they start school.</p>


        <h2>School system & compulsory education</h2>

        <p>In Germany, children are required to attend school starting at the age of six, as school attendance is compulsory. The majority of schools in Germany are publicly funded and provide free education. However, parents also have the option to send their children to private or international schools, which may charge fees.</p>

        <p>Home education is only allowed under exceptional circumstances, such as when children are ill and unable to attend school for an extended period. As a parent, you will receive an invitation from the relevant school authority, providing details about the dates and registration procedures. You can also find more information regarding compulsory school attendance from the Ministry of Education in your region.</p>

        <p>Education in Germany is primarily managed by the country’s federal states. Therefore, it's important to search for schools based on the relevant federal state where you reside. Each state’s Ministry of Education usually provides a way to filter schools based on region, school type, and internationality. For more information about the different specializations, all-day education, and the registration process, it is recommended to visit the individual schools' websites.</p>

    </section>
</div>